<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script type="text/javascript" src="../data/plot_data.js" charset="UTF-8"></script>
        <script type="text/javascript" src="graph.js" charset="UTF-8"></script>
    </head>
    <body>
        <div id="app">
            <svg viewbox="0 0 900 900" width="900" height="900">
                <line x1=450 y1=0 x2=450 y2=900 stroke="black"></line>
                <line x1=0 y1=450 x2=900 y2=450 stroke="black"></line>
                <g v-for="item in items">
                    <text :x="(item.posX+1)*450-40" :y="(-item.posY+1)*450-10">{{ item.name }}</text>
                    <circle :cx="(item.posX+1)*450" :cy="(-item.posY+1)*450" r=5></circle>
                </g>
            </svg>
        </div>

    </body>
</html>
